@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* Design Token */
:root {
  /* Reference Token */
  /* Colors */
  /* Primary */
  --purple-100: #2563eb;
  --purple-200: #3c74ed;
  --purple-300: #5484ef;
  --purple-400: #6b95f1;
  --purple-500: #82a6f4;
  --purple-600: #9ab7f6;
  --purple-700: #b1c7f8;
  --purple-800: #c8d8fa;
  --purple-900: #e0e9fc;

  /* Gray */
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /* Sementic */
  --success-default: #86efac;
  --success-bg: #dcfce7;
  --success-text: #16a34a;

  --error-default: #fca5a5;
  --error-bg: #fee2e2;
  --error-text: #dc2626;

  --warning-default: #fcd34d;
  --warning-bg: #fef3c7;
  --warning-text: #f59e0b;

  --info-default: #93c5fd;
  --info-bg: #dbeafe;
  --info-text: #2563eb;

  /* Spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-24: 24px;

  /* Font Size */
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 22px;
  --font-3xl: 24px;
  --font-4xl: 28px;
  --font-5xl: 36px;
  --font-6xl: 48px;

  /* System Token */
  /* Background */
  --color-bg-primary: var(--gray-100);
  --color-bg-inverse: var(--gray-900);

  /* Text */
  --color-text-primary: var(--gray-900);
  --color-text-inverse: var(--gray-100);

  /* Accent */
  --accent-primary-default: #7c3aed;
  --accent-primary-soft: #ede9fe;
  --accent-primary-text: #5b21b6;
  --accent-purpie-default: #16a34a;
  --accent-primary-soft: #dcfce7;
  --accent-primary-text: #166534;

  /* Responsive */
  /* layout Spacing */
  --layout-padding-sm: 16px;
  --layout-padding-md: 24px;

  /* Container */
  --container-max: 1280px;
}

/* css 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
body {
  overflow-x: hidden;
  background-color: var(--color-bg-primary);
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-size: var(--font-md);
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  object-fit: cover;
}

/* Typograhy */
.heading-1 {
  font-size: var(--font-4xl);
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.02em;
}
.heading-2 {
  font-size: var(--font-2xl);
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
}
.heading-3 {
  font-size: var(--font-lg);
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.02em;
}
.body {
}
.caption {
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
}

/* Component Token */
/* Layout */
.layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  position: relative;
  width: 100%;
  max-width: var(--container-max);
  flex: 1;
  padding: 0 16px;
  /* background-color: #d4d4d4; */
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

/* 로그인 */
.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 390px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 100px 16px 0px;
  background-color: #ffffff;
  gap: 16px;
}

/* 헤더 */
.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
}

/* 메인 */
.main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* 메인 -> 이메일 + 비밀번호 */
.input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 0 16px;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  background-color: #ffffff;
}
.input img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  object-fit: contain;
}
.input input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: var(--font-sm);
  color: var(--gray-400);
}
.input input::placeholder {
  color: var(--gray-400);
}

/* 메인 -> 체크박스 */
.check-box {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.check-box input {
  display: none;
}
.check-box img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
/* 기본 상태 (check-in 숨김) */
.check-box img:last-of-type {
  display: none;
}
/* 체크 상태 */
.check-box input:checked + img {
  display: none;
}
.check-box input:checked + img + img {
  display: block;
}
.check-box .caption {
  color: var(--gray-800);
}

/* 메인 -> 로그인 버튼 */
.btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: var(--purple-200);
  color: #ffffff;
  font-size: var(--font-xl);
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: var(--purple-100);
}

/* 푸터 */
.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* 푸터 -> 가입하기 */
.singup-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.singup-box span {
  color: var(--gray-500);
}

.singup-box a {
  font-weight: 700;
  color: var(--gray-900);
}

/* 푸터 -> 소셜 로그인 타이틀 */
.social-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.social-title .line {
  flex: 1;
  height: 1px;
  background-color: var(--gray-200);
}

.social-title .text {
  font-size: var(--font-sm);
  color: var(--gray-500);
  white-space: nowrap;
}

/* 푸터 -> 소셜 계정들 */
.social-list {
  display: flex;
  gap: 12px;
}

.social-btn {
  flex: 1;
  height: 98px;
  border: 1px solid var(--gray-200);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.social-btn img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
